<div class="container">
  <div class="container">
  <h3 class="text-danger text-center pt-5">Mozilla Thunderbird</h3>
</div>

<div class="container">
<div class="row">
<div class="col-12">
<h4>STEP 1 ➡️ Dowload Mozilla Thunderbird</h4>
</div>
<div class="container mt-3">
  <div class="row">
    <p class="">Go to browser then search Mozilla Thunderbird and Click <span class="fw-bold text-danger">Download</span> and <span class="fw-bold text-danger"> click next next till finish</span> </p>
    <a href="https://www.thunderbird.net/en-US/" class="text-decoration-none fs-5 pb-3"> 🔗 Link download</a>
    <div class="col-lg-4">
  <img src="../assets/Mozilla/1.png" alt="1" class="img-fluid">
</div>
<div class="col-lg-4">
<img src="../assets/Mozilla/2.jpg" alt="" class="img-fluid">
</div>
<div class="col-lg-4">
<img src="../assets/Mozilla/3.jpg" alt="" class="img-fluid">
</div>
  </div>
</div>
</div>


</div>
<div class="container mt-lg-5">

<div class="row">
<div class="col-12">
<h4>STEP 2 ➡️ Set Up Mozilla Thunderbird</h4>
</div>
<div class="container mt-3">
  <div class="row">
    <p>After downlaod you can serch on your Computer,You have to set up it with Step By Step with thire requirments</p>
    <div class="col-lg-4">
  <img src="../assets/Mozilla/5.jpg" alt="1" class="img-fluid">
</div>
<div class="col-lg-4">
<img src="../assets/Mozilla/4.jpg" alt="" class="img-fluid">
</div>
<div class="col-lg-4">
<img src="../assets/Mozilla/6.jpg" alt="" class="img-fluid">
</div>
  </div>
  <div class="row mt-5">
<div class="col-lg-4">
<img src="../assets/Mozilla/7.jpg" alt="" class="img-fluid">
</div>
<div class="col-lg-4">
<img src="../assets/Mozilla/8.jpg" alt="" class="img-fluid">
</div>
<div class="col-lg-4">
<img src="../assets/Mozilla/9.jpg" alt="" class="img-fluid w-100 ">
</div>
  </div>
</div>
</div>


</div>
<div class="container mt-5">
<div class="row">
<div class="col-12">
<h4>STEP 3 ➡️ Send Test in Mozilla Thunderbird</h4>
</div>
<div class="container mt-3">
  <p> You can contact someone with sending to thire Mails</p>
  <div class="row">
    <div class="col-lg-6">
  <img src="../assets/Mozilla/S1.jpg" alt="1" class="img-fluid">
</div>
<div class="col-lg-6">
<img src="../assets/Mozilla/S2.jpg" alt="" class="img-fluid">
</div>

  </div>
</div>
</div>


</div>
<div class="container mt-5">
<div class="row">
<div class="col-12">
<h4>STEP 4 ➡️ Other Functions in Mozilla Thunderbird</h4>
</div>
<div class="container mt-3">
  <p> Mozilla Thunderbird has a lot functions such as <span class="fw-bold text-danger">Task timetable</span>, <span class="fw-bold text-warning">Authentication during send Mails</span> and also setting with a lot functions </p>
  <div class="row">
    <div class="col-lg-6">
  <img src="../assets/Mozilla/O1.jpg" alt="Other Function1" class="img-fluid">
</div>
<div class="col-lg-6">
<img src="../assets/Mozilla/O2.jpg" alt="Other Function2" class="img-fluid">
</div>

  </div>
    <div class="row mt-5">
    <div class="col-lg-4">
  <img src="../assets/Mozilla/O5.jpg" alt="Other Function1" class="img-fluid">
</div>
<div class="col-lg-4 ">
<img src="../assets/Mozilla/O4.jpg" alt="Other Function2" class="img-fluid h-75 w-100">
</div>
<div class="col-lg-4 ">
<img src="../assets/Mozilla/O3.jpg" alt="Other Function2" class="img-fluid h-75 w-100">
</div>


  </div> 
</div>
</div>


</div>




</div>