<div class="container">
  <div class="container">
  <h3 class="text-danger text-center pt-5">Microsoft Outlook</h3>
</div>
<div class="container mt-5">
<div class="row">
  <div class="col-lg-6 d-flex justify-content-center align-items-center">
<h4> Here is Video Reference for Microsoft Outlook </h4>
  </div>
  <div class="col-lg-6">
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/ctIDDu1sC98?si=fQEbV_7mdjUHLMKN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-12">
<h4>STEP 1 ➡️ Dowload Microsoft Outlook</h4>
</div>
<div class="container mt-3">
  <div class="row">
    <p class="">Go to browser then search Microsoft  Outlook Free Download and Click <span class="fw-bold text-danger">Download</span> and <span class="fw-bold text-danger"> click next next till finish</span> </p>
    <a href="https://apps.microsoft.com/detail/9nrx63209r7b?hl=en-US&gl=US" class="text-decoration-none fs-5 pb-3"> 🔗 Link download</a>
    <div class="col-lg-6">
  <img src="../assets/Micrsoft/1.jpg" alt="1" class="img-fluid">
</div>
<div class="col-lg-6">
<img src="../assets/Micrsoft/2.jpg" alt="" class="img-fluid">
</div>
  </div>
</div>
</div>


</div>
<div class="container mt-lg-5">

<div class="row">
<div class="col-12">
<h4>STEP 2 ➡️ Set Up Microsoft Outlook</h4>
</div>
<div class="container mt-3">
  <div class="row">
    <p>After downlaod you can serch on your Computer,You have to set up it with Step By Step with thire requirments</p>
    <div class="col-lg-3">
  <img src="../assets/Micrsoft/S2.jpg" alt="1" class="img-fluid">
</div>
<div class="col-lg-3">
<img src="../assets/Micrsoft/S3.jpg" alt="" class="img-fluid">
</div>
<div class="col-lg-6">
<img src="../assets/Micrsoft/S4.jpg" alt="" class="img-fluid">
</div>
  </div>

</div>
</div>


</div>
<div class="container mt-5">
<div class="row">
<div class="col-12">
<h4>STEP 3 ➡️ Send Test in Microsoft Outlook</h4>
</div>
<div class="container mt-3">
  <p> You can contact someone with sending to thire Mails</p>
  <div class="row">
    <div class="col-lg-4">
  <img src="../assets/Micrsoft/T1.jpg" alt="1" class="img-fluid w-100">
</div>
<div class="col-lg-4">
<img src="../assets/Micrsoft/T2.jpg" alt="" class="img-fluid w-100">
</div>
<div class="col-lg-4">
<img src="../assets/Micrsoft/T3.jpg" alt="" class="img-fluid w-100">
</div>
</div>
</div>


</div>
<div class="container mt-5">
<div class="row">
<div class="col-12">
<h4>STEP 4 ➡️ Other Functions in Mozilla Thunderbird</h4>
</div>
<div class="container mt-3">
  
  <div class="row">
    <div class="col-lg-6">
  <img src="../assets/Micrsoft/O1.jpg" alt="1" class="img-fluid w-100">
</div>
<div class="col-lg-3">
<img src="../assets/Micrsoft/O2.jpg" alt="" class="img-fluid w-100">
</div>
<div class="col-lg-3">
<img src="../assets/Micrsoft/O3.jpg" alt="" class="img-fluid w-100">
</div>
  <div class="row mt-5" >
    <div class="col-lg-6">
  <img src="../assets/Micrsoft/O4.jpg" alt="1" class="img-fluid">
</div>
 <div class="col-lg-6">
  <img src="../assets/Micrsoft/O5.jpg" alt="1" class="img-fluid">
</div>
  </div>
    <div class="row mt-5" >
    <div class="col-lg-6">
  <img src="../assets/Micrsoft/O4.jpg" alt="1" class="img-fluid">
</div>
 <div class="col-lg-6">
  <img src="../assets/Micrsoft/O5.jpg" alt="1" class="img-fluid">
</div>
  </div>
</div>
</div>
</div>


</div>




</div>