

<div class="container ">
<h1 class="text-center text-primary p-5 fw-bold"> Welcome to Mail Configuration </h1>
</div>

<div class="container mb-3">
<div class="row">
<div class="col-4">
<img src="../assets/Mozilla/image.png" alt=""   class="img-fluid" > 

</div>
<div class="col-4">
  <img src="../assets/Micrsoft/image.png" alt="" class="img-fluid" >
</div>
<div class="col-4">
  <img src="../assets/Google/image.png" alt="" class="img-fluid" >
</div>

</div>


</div>


<div class="container">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#" routerLink="Mozilla" routerLinkActive="active" >Mozilla Thunderbird</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="Microsoft" routerLinkActive="active" >Microsott Outlook</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="Google" routerLinkActive="active" >Google Mail</a>
  </li>

</ul>
</div>

<div>
<div class="row">


  <div class="col-9">


    
  </div>
</div>


</div>



<router-outlet> </router-outlet>


<div style="height: 150px; width: 100%; background-color: brown; display: flex; justify-content: center; align-items: center; border-top-left-radius: 40px;">
<div class="h1 text-center ">
   <a href="mailto:teyv0996@gmail.com"><p> teyv0996&#64;gmail.com</p>
</a>


</div>
</div>
